{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "deps/css/test.css" %}">
</head>
<body>
<div>
    <nav class="header">
        <div class="menu">
            <a href="{% url "main:index" %}">Главная</a>
            <a href="{% url "main:index_main" %}">main</a>
            <a href="{% url "main:about" %}">О нас</a>

                <a href="{% url "admin:index" %}">Админ-панель</a>

            <a href="{% url "exam:exam"%}">Зачеты</a>
        </div>
        <div class="menu">
            <a href="{% url "users:logout" %}">Выйти</a>
        </div>

    </nav>
</div>
{% block body %}{% endblock %}

</body>
</html>
