{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static "deps/css/style_testing.css" %}">
<div class="header container">
    <div class="logo">
        <a href="#" title="На главную страницу">
            <img src="{% static "deps/img/logo 1.png" %}" alt="logo">
        </a>
    </div>
    <div class="navigation">
        <div class="nav-item">
            <img src="{% static "deps/img/square1.png" %}" alt="square1">
            <a href="#">
                <button title="Вы находитесь в этом разделе"><h3>Тестирование</h3></button>
            </a>
        </div>
        <div class="nav-item">
            <img src="{% static "deps/img/personal.png" %}" alt="personal">
            <a href="#">
                <button title="Самый лучший сотрудник!"><h3>Личный кабинет</h3></button>
            </a>
        </div>
    </div>
</div>
<!--  <main class="main container">-->
<!--   <div class="essence">-->
<!--    <button title="Для сотрудников КолЦентра">КЦ</button>-->
<!--  </div>-->
<!--  <div class="essence_button">-->
<!--    <button title="Для сотрудников 'Детский мир'">ДМ</button>-->
<!--  </div>-->
<!--  </main>-->
<div class="table container">
    <div class="table-header">
        <table class="block">
            <thead>
            <tr>
                <th class="date-column">
                    <div>Дата</div>
                </th>
                <th>
                    <div>ФИО оператора</div>
                </th>
                <!--            <th><div>Форма обучения</div></th>-->
                <!--            <th><div>Попытка</div></th>-->
                <th>
                    <div>Время (МСК)</div>
                </th>
                <th>
                    <div>ФИ специалиста</div>
                </th>
                <th>
                    <div>Результат ТЗ</div>
                </th>
                <th>
                    <div>Комментарий</div>
                </th>
                <!--            <th><div>ФИ обучающего/обучающих</div></th>-->
                <!--            <th><div>ФИ принимающего внутреннее ТЗ</div></th>-->
                <th>
                    <div>Действия</div>
                </th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for elem in list_exam %}
            <tr>
                <td> {{ elem.date_exam }}</td>
                <td> {{ elem.name_intern }}</td>
                <td>
                    {% if elem.time_exam.hour == time.hour %}

                    {% else %}
                    {{ elem.time_exam }} - {{ elem.time_exam|add_minutes:30 }}
                    {% endif %}
                </td>
                <td> {{ elem.name_examiner }}</td>
                <td> {{ elem.result_exam }}</td>
                <td> {{ elem.comment_exam }}</td>
                <td>

                    <div class="button-action">

                            <button class="edit_exam" onclick="openEditModal({{ elem.id }})" data-value={{ elem.id }}>
                                Редактировать стажера с id {{elem.id}}
                            </button>

                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% if company != "dm" %}

    <div class="main container">
      <div class="new-row-container">
              <button formmethod="get" id="modal-open-btn" class="new_row" title="Добавить">
                  <img src="{% static "deps/img/icons8_plus.svg" %}" alt="plus icon">
              </button>
      </div>
    </div>

    <!--    Модалка для добавления данных   -->

    <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <h2>Добавить стажёра</h2>
          <form method="post" id="add-student-form" action="{% url "exam:edit_intern" %}">
            {% csrf_token %}

            {{ form }}

            <button type="submit" id="save-btn">Сохранить</button>
          </form>
        </div>
      </div>

        <!--    Конец блока добавления данных   -->

        <!--    Модалка для изменения данных    -->

        <div id="modal-edit" class="modal">
        <div class="modal-content">
          <span class="close-edit">&times;</span>
          <h2>Изменить стажёра</h2>
          <form method="post" id="edit-student-form" action="{% url "exam:edit_intern" %}">
            {% csrf_token %}

            {{ form }}

            <button type="submit" id="save-btn-edit">Сохранить</button>
          </form>
        </div>
      </div>

        <!--    Конец блока изменения данных    -->


{% endif %}

    <script src="{% static "deps/js/script_testing.js" %}"></script>


<script>



          function openEditModal(id) {
            document.getElementById('modal-edit').style.display = 'block';
            }

<!--        document.querySelectorAll('.edit_exam').forEach(function(button) {-->
<!--          button.addEventListener('click', function() {-->
<!--            const value = this.dataset.value;-->
<!--            localStorage.setItem('selectedExamId', value);-->
<!--            // AJAX-запрос для отправки значения на сервер-->
<!--            fetch('/exam/', {-->
<!--              method: 'POST',-->
<!--              headers: {-->
<!--                'Content-Type': 'application/json'-->
<!--              },-->
<!--              body: JSON.stringify({ 'exam_id': value })-->
<!--            })-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--              // Обработка ответа от сервера (например, обновление содержимого страницы)-->
<!--              console.log(data); // Вывод ответа от сервера в консоль-->
<!--            })-->
<!--            .catch(error => {-->
<!--              console.error('Ошибка:', error);-->
<!--            });-->
<!--          });-->
<!--        });-->
  </script>

</body>
</html>

{% endblock %}




