{% load static %}

<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Authorisation</title>-->
<!--    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <nav>-->
<!--        <div class="logo">-->
<!--            <a href=""><img src="{% static "deps/img/logo 1.png" %}"></a>-->
<!--        </div>-->
<!--        <div class="personal">-->
<!--            <img src="{% static "deps/img/personal.png" %}" alt="personal">-->
<!--            <a href="#">-->
<!--                <button><h3>Личный кабинет</h3></button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->
<!--    <div class="login-container">-->
<!--        <h2 class="test">Вход в личный кабинет</h2>-->
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <div class="form-group">-->
<!--                <label for="username">Логин:</label>-->
<!--                <input type="text" id="username" name="username" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password">Пароль:</label>-->
<!--                <input type="password" id="password" name="password" required>-->
<!--            </div>-->
<!--            <button type="submit">Войти</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
</head>
<body>
    <div>
        <img src="{% static "deps/img/image.jpeg" %}" alt="picture">
    </div>
<!--<div class="background-video">-->
<!--    <video src="./video/mixkit-many-bubbles-floating-on-a-blue-background-in-motion-51861-full-hd.mp4" autoplay muted-->
<!--           loop></video>-->
<!--</div>-->
<div class="container">
    <div class="glass-bg">
        <img src="{% static "deps/img/logo 1.png" %}" alt="Logo" class="logo">
        <form class="registration-form" method="post">
            {% csrf_token %}
            <h2>Вход в личный кабинет</h2>
            <label for="username"></label>
            <input type="text" id="username" name="username" required placeholder="Логин" autofocus>
            <label for="password"></label>
            <input type="password" id="password" name="password" required placeholder="Пароль">
            <label><input type="checkbox" id="checkbox" name="checkbox"> Запомни меня</label>
            <button type="submit">Войти</button>
            <p>Если забыли логин и пароль, напишите менеджеру</p>
        </form>
    </div>
</div>

<!-- Добавляем аудиофайлы -->
<!--<audio id="click-sound" src="./audio/6a6ad928cfac061.mp3"></audio>-->
<!--<audio id="submit-sound" src="./audio/rjhjn.mp3"></audio>-->
<!--<audio id="checkbox-sound" src="./audio/najatie-na-kompyuternuyu-knopku1.mp3"></audio>-->

<script>
    // Функция для воспроизведения звука кликов по полям ввода
    function playClickSound() {
      const sound = document.getElementById('click-sound');
      sound.play();
    }
    function playCheckboxSound() {
     const sound = document.getElementById('checkbox-sound');
     sound.play();
    }

    // Функция для воспроизведения звука клика по кнопке "Войти"
    function playSubmitSound() {
      const sound = document.getElementById('submit-sound');
      sound.play();
    }

    // Получаем элементы ввода и кнопку
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const checkbox = document.getElementById('checkbox');
    const submitButton = document.querySelector('button[type="submit"]');

    // Добавляем обработчики событий для кликов по полям ввода
    usernameInput.addEventListener('click', playClickSound);
    passwordInput.addEventListener('click', playClickSound);
    checkbox.addEventListener('click', playCheckboxSound);

    // Добавляем обработчик события для клика по кнопке "Войти"
    submitButton.addEventListener('click', playSubmitSound);
</script>
</body>
</html>